<meta charset="UTF-8">
<header th:fragment="header">

<div class="mainDiv">
  <h2 th:href="@{'/'}">Gardróbturi</h2>
</div>
<div class="menu">

<div class="menus">
<a th:href="@{'/'}" class="btnMenu">Fő oldal</a>
<a th:href="@{'/cart'}" class="btnMenu">Kosár</a>
</div>
	
	<div sec:authorize="isAnonymous()" class="registrationPart">
		<a href="/registration_form">Regisztráció</a><br>
		<a href="/login_form">Belépés</a>
	</div>
	<div class="loggedIn" sec:authorize="hasAnyAuthority('ADMIN','USER')">
	<form th:action="@{/logout}" method="post">
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
            </p>
            <input type="submit" value="Sign Out" />
        </form>
    	<a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/users'}">Felhasználók</a>
	</div>
</div>
</header>