<meta charset="UTF-8">


<header th:fragment="header">
	<header class="header">
		<nav class="navbar navbar-expand-lg fixed-top py-3">

			<div id="navbarSupportedContent" class="collapse navbar-collapse">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a th:href="@{'/'}"
						class="nav-link text-uppercase font-weight-bold">Főoldal <span
							class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a th:href="@{'/cart'}"
						class="nav-link text-uppercase font-weight-bold">Kosár</a></li>
					<li class="nav-item"><a th:href="@{'/contact'}"
						class="nav-link text-uppercase font-weight-bold">Kapcsolat</a></li>
					<li class="nav-item"><a th:href="@{'/myAccount'}"
						sec:authorize="hasAnyAuthority('USER')"
						class="nav-link text-uppercase font-weight-bold">Fiókom</a></li>
					<li class="nav-item"><form class="form-inline my-2 my-lg-0"
							id="searchF" th:action="@{/search}">
							<input class="form-control mr-sm-2" id="srch" name="srch"
								type="text" placeholder="Search">
							<button class="btn btn-secondary my-2 my-sm-0" type="submit">Keresés</button>
						</form></li>
				</ul>
			</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<div class="pt-5 text-white">
			<header class="py-5 mt-5">
				<h1 class="display-4">Gardrób turi</h1>


			</header>
			<div class="container">
				<div sec:authorize="isAnonymous()" class="registrationPart">
					<a href="/registration_form">Regisztráció</a><br> <a
						href="/login_form">Belépés</a>
				</div>
				<div class="loggedIn"
					sec:authorize="hasAnyAuthority('ADMIN','USER','MAIN_ADMIN')">
					<form th:action="@{/logout}" method="post">
						<p>
							Üdvözlöm,  <b>[[${#request.userPrincipal.principal.fullName}]]</b>
						</p>
						<input type="submit" class="btnMenu" value="Kijelentkezés" />
					</form>
					<a sec:authorize="hasAnyAuthority('ADMIN','MAIN_ADMIN')" th:href="@{'/users'}">Felhasználók</a>
				</div>
			</div>
		</div>
</header>