@charset "UTF-8";

.navbar {
	transition: all 0.4s;
	height: 60px;
}

.navbar .nav-link {
	color: #fff;
}

.navbar .nav-link:hover, .navbar .nav-link:focus {
	color: #fff;
	text-decoration: none;
}

.navbar .navbar-brand {
	color: #fff;
}

.display-4 {
	font-size: 4.5rem !important;
	font-weight: 300 !important;
	line-height: 1.2 !important;
	font-family: cursive;
	color: darkblue;
}

/* Change navbar styling on scroll */
.navbar.active {
	background: #000000ab;
	box-shadow: 1px 2px 10px rgb(0 0 0/ 10%);
}

.navbar.active .nav-link {
	color: white;
}

.navbar.active .nav-link:hover, .navbar.active .nav-link:focus {
	color: white;
	text-decoration: none;
}

.navbar.active .navbar-brand {
	color: white;
}

/* Change navbar styling on small viewports */
@media ( max-width : 991.98px) {
	.navbar {
		background: #fff;
	}
	.navbar .navbar-brand, .navbar .nav-link {
		color: #555;
	}
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
.text-small {
	font-size: 0.9rem !important;
}

body {
	min-height: 110vh;
	background-color: #4ca1af;
	background-image: linear-gradient(135deg, #4ca1af 0%, #c4e0e5 100%);
}