.card {
	box-shadow: 0 4px 8px 0 rgb(0 0 0/ 20%);
	max-width: 300px;
	margin: auto;
	text-align: center;
	font-family: arial;
	display: inline-table !important;
	width: -webkit-fill-available;
	height: 625px;
	margin: 5px;
}

.chkBox {
	margin-left: 15px;
	margin: 8px;
}

.cardView {
	box-shadow: 0 4px 8px 0 rgb(0 0 0/ 100%);
	max-width: 1000px;
	margin: auto;
	background-color: #fff;
	background-clip: border-box;
	border-radius: .25rem;
	text-align: center;
	font-family: arial;
	display: inline-table !important;
	width: -webkit-fill-available;
}

.price {
	color: grey;
	font-size: 22px;
}

.priceAction {
	color: rgb(255, 4, 4);
	font-size: 33px;
}

.filter_btn {
	display: contents;
}

.pagination {
	height: 45px;
	margin-top: 20px;
	color: red;
	font-size: large;
	font-weight: bolder;
	text-align: center;
	display: inherit !important;
}

.card button {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}

.cardView button {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}

.card button:hover {
	opacity: 0.7;
}

.cardView button:hover {
	opacity: 0.7;
}

body {
	background-color: lightgrey;
}

.mainDiv {
	border: 5px outset red;
	background-color: lightblue;
	text-align: center;
}

.menu {
	border: 3px outset red;
	background-color: lightblue;
	text-align: center;
}

.shoppingCart {
	width: 100px;
	margin-left: 85%;
}

.loggedIn {
	margin-bottom: 10px;
}

.menus {
	margin-right: 85%;
	width: max-content;
	height: fit-content;
}

#searchF {
	display: inline;
}

.btnMenu {
	color: #fff !important;
	color: #fff !important;
	background-color: #000 !important;
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	margin-bottom: -10%;;
	margin: 5px;
}

.filter {
	border: 3px outset red;
	background-color: lightblue;
	text-align: center;
	width: 20%;
	height: 500px;
}

.modal-body {
	position: relative;
	display: grid;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1rem;
}

.mainPart {
	margin-left: 25%;
	border: 3px outset red;
	background-color: lightblue;
	text-align: center;
	width: 75%;
	margin-top: -500px;
}

.shoppingCartpic {
	width: 45px;
	margin-left: 95%;
}

.registrationPart {
	margin: 15px;
	font-size: 1.5rem;
}

.button {
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.button1 {
	background-color: white;
	color: black;
	border: 2px solid #4CAF50;
}

.button1:hover {
	background-color: #4CAF50;
	color: white;
}

#slideshow {
	width: 800px;
	height: 400px;
	overflow: hidden;
	margin: 50px auto 50px auto;
	box-shadow: 0px 0px 50px #333;
	-moz-box-shadow: 0px 0px 50px #333;
	-webkit-box-shadow: 0px 0px 50px #333;
}

#slideshow ul {
	width: 4000px;
	list-style: none;
	margin-left: -40px;
}

#slideshow ul li {
	float: left;
}

#slideshow-nav {
	width: 150px;
	margin: 0 auto 100px auto;
}

#slideshow-nav ul {
	list-style: none;
	margin: -10px;
}

#slideshow-nav ul li {
	float: left;
}

#slideshow-nav ul li a {
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 5px;
	background: #fff;
	text-indent: -9999px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	box-shadow: 0px 0px 30px #000;
	-webkit-box-shadow: 0px 0px 30px #000;
}

#slideshow-nav ul li a:hover, #slideshow-nav ul li a.active {
	background: #333;
}

.rating {
	display: inline-block;
	position: relative;
	height: 50px;
	line-height: 50px;
	font-size: 50px;
}

.rating label {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	cursor: pointer;
}

.rating label:last-child {
	position: static;
}

.rating label:nth-child(1) {
	z-index: 5;
}

.rating label:nth-child(2) {
	z-index: 4;
}

.rating label:nth-child(3) {
	z-index: 3;
}

.rating label:nth-child(4) {
	z-index: 2;
}

.rating label:nth-child(5) {
	z-index: 1;
}

.rating label input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.rating label .icon {
	float: left;
	color: transparent;
}

.rating label:last-child .icon {
	color: #000;
}

.rating:not(:hover) label input:checked ~ .icon, .rating:hover label:hover input 
	~ .icon {
	color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
	color: #000;
	text-shadow: 0 0 5px #09f;
}
.rates{
	background: azure;
    margin: auto;
    max-width: 500px;
    margin-top: 40px;
}