.card {
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    display: inline-table!important;
    width: -webkit-fill-available;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
body{
	background-color:lightgrey;
}
.mainDiv {
  border: 5px outset red;
  background-color: lightblue;    
  text-align: center;
}
.menu {
	border: 3px outset red;
	background-color: lightblue; 
	text-align: center;
}
.shoppingCart{
	width: 100px;
    margin-left: 85%;
}
.loggedIn{
	width: 25%;
    margin-left: 80%;
}
.menus{
	margin-right: 85%;
  
}
.btnMenu{
color: #fff!important;
  color: #fff!important;
    background-color: #000!important;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    margin-bottom: -10%;;
    margin: 5px;
	}

.filter {
	border: 3px outset red;
	background-color: lightblue; 
	text-align: center;
	width: 20%;
	height: 500px;
}
.modal-body {
    position: relative;
    display: grid;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}
.mainPart {
	margin-left: 25%;
    border: 3px outset red;
    background-color: lightblue;
    text-align: center;
    width: 75%;
    margin-top: -500px;
	
}
.shoppingCartpic{
	width: 45px;
    margin-left: 95%;
}
.registrationPart {
	border: 3px outset red;
    background-color: lightblue;
    text-align: center;
    margin-left: 79%;
}
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}