<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<head>
<meta charset="UTF-8">
<title>Webshop</title>
<link href="../static/Css/main.css" th:href="@{/Css/main.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/footer.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/header.css}"
	rel="stylesheet" />
<script type="text/javascript" th:src="@{/Js/forgotPs.js}"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
	<div th:replace="fragments/header::header"></div>

	<div
		style="border: 3px outset red; background-color: lightblue; text-align: center; width: 100%;">
		<p>Itt lesz az oldal fő része</p>

		<h1>Fiókom</h1>

		<table class="table table-striped">
			<h2 style="margin-top: 50px">Szállítási cím</h2>
			<tr>
				<th>Cím</th>
				<th>Város</th>
				<th>Ország</th>
				<th>Megye</th>
				<th>Irányítószám</th>
				<th></th>

			</tr>
			<tr th:each="account : ${account}">
				<td th:text="${account.shippingAddress.address}"></td>
				<td th:text="${account.shippingAddress.city}"></td>
				<td th:text="${account.shippingAddress.country}"></td>
				<td th:text="${account.shippingAddress.state}"></td>
				<td th:text="${account.shippingAddress.zipcode}"></td>
				<td>
					<form th:each="account : ${account}" style="display: inline;"
						th:action="@{/myAccount/update/shipping/__${account.shippingAddress.shippingAddressId}__}">
						<button class="btnn" type="submit">Módosít</button>
					</form>
				</td>
			</tr>
		</table>

		<table class="table table-striped">
			<h2>Számlázási cím</h2>
			<tr>
				<th>Cím</th>
				<th>Város</th>
				<th>Ország</th>
				<th>Megye</th>
				<th>Irányítószám</th>
				<th></th>
			</tr>
			<tr th:each="account : ${account}">
				<td th:text="${account.billingAddress.address}"></td>
				<td th:text="${account.billingAddress.city}"></td>
				<td th:text="${account.billingAddress.country}"></td>
				<td th:text="${account.billingAddress.state}"></td>
				<td th:text="${account.billingAddress.zipcode}"></td>
				<td>
					<form style="display: inline;"
						th:action="@{/myAccount/update/billing/__${account.billingAddress.billindAddressId}__}">
						<button class="btnn" type="submit">Módosít</button>
					</form>
				</td>
			</tr>
		</table>
		<div sec:authorize="hasAuthority('USER')">
		<p>Két lépcsős beléptetés ki és bekapcsolása!</p>
			<form th:action="@{/myAccount/update/twoFac}">
				<div class="custom-control custom-switch">
					<label style="margin-right: 40px;">Kikapcsolva</label> <input
						type="checkbox" class="custom-control-input" id="customSwitches"
						name="switch"> <label class="custom-control-label"
						for="customSwitches"><span class="lever"></span>Bekapcsolva</label><br>
				</div>
				<button class="btnn" type="submit">Módosít</button>
			</form>
		</div>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</head>
</html>