<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Adminfelület</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container text-center">
		<div>
			<form th:action="@{/logout}" method="post">
				<p>
					Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
				</p>
				<input type="submit" value="Kijelentkezés" />
			</form>
		</div>
		<div>
			<h1>Vásárolt Termékek</h1>
		</div>

		<div>
			<table class="table table-striped table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>Vásárolt termék ID</th>
						<th>Felhasználó ID</th>
						<th>E-mail</th>
						<th>Keresztnév</th>
						<th>Vezetéknév</th>
						<th>Összeg</th>
						<th>Termék neve</th>
						<th>Darabszám</th>
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="user: ${items}">
						<td th:text="${user.PaidItemsId}">User ID</td>
						<td th:text="${user.user.id}">E-mail</td>
						<td th:text="${user.user.email}">E-mail</td>
						<td th:text="${user.user.firstName}">First Name</td>
						<td th:text="${user.user.lastName}">Last Name</td>
						<td th:text="${user.cart.totalPrice}">Roles</td>
						<td th:text="${user.product.name}">Last Name</td>
						<td th:text="${user.quantity}">Roles</td>
						

					

					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>