<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<head>
<meta charset="UTF-8">
<title>Webshop</title>
<link href="../static/Css/main.css" th:href="@{/Css/main.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/footer.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/header.css}"
	rel="stylesheet" />
<script type="text/javascript" th:src="@{/Js/forgotPs.js}"></script>
<body>
	<div th:replace="fragments/header::header"></div>
		<div
			style="border: 3px outset red; background-color: lightblue; text-align: center; width: 100%;">
			<div>
				<h2>Írj nekünk</h2>
			</div>
			<form th:action="@{/process_contact}" th:object="${message}"
				method="post" style="max-width: 600px; margin: 0 auto;">
				<div class="m-3">
					<div class="form-group row">
						<label class="col-4 col-form-label">E-mail: </label>
						<div class="col-8">
							<input type="email" th:field="*{email}" name="email" id="email"
								class="form-control" required />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-4 col-form-label">Név: </label>
						<div class="col-8">
							<input type="text" th:field="*{name}" class="form-control"
								required minlength="2" maxlength="20" />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-4 col-form-label">Üzenet: </label>
						<div class="col-8">
							<textarea type="text" class="form-control"
								placeholder="Üzenet helye..." style="height: 200px" rows="1"
								th:field="*{message}"></textarea>
						</div>
					</div>
					<div>
						<button type="submit" class="btn btn-primary">Küldés</button>
					</div>
				</div>
			</form>
		</div>

	<div th:replace="fragments/footer::footer"></div>
</body>
</head>
</html>