<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<head>
<meta charset="UTF-8">
<title>Webshop</title>
<link href="../static/Css/main.css" th:href="@{/Css/main.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/footer.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/header.css}"
	rel="stylesheet" />
<script type="text/javascript" th:src="@{/Js/forgotPs.js}"></script>

</head>
<body>
	<div th:replace="fragments/header::header"></div>
	<div
		style="border: 3px outset red; background-color: lightblue; text-align: center; width: 100%;">
		<div sec:authorize="hasAuthority('USER')">

			<form th:action="@{/myAccount/update/shipping/ok}" method="POST">
				<div class="modal-content">

					<div class="modal-body">

						<h7>Cím:</h7>

						<input class="mod" type="text" name="address" id="address"></input>

						<h7>Város:</h7>

						<input class="mod" type="text" name="city" id="city" rows="4"
							cols="50" />

						<h7>Megye:</h7>

						<input class="mod" type="text" name="state" id="state" />

						<h7>Ország:</h7>

						<input class="mod" type="text" name="country" id="country" />
						<h7> Irányítószám:</h7>

						<input class="mod" type="number" name="zipcode" id="zipcode" /> <input
							class="mod" type="hidden" th:value="${id}" name="id" id="id"></input>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btnn">Mentés</button>
					</div>
				</div>
			</form>

		</div>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</head>
</html>