<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<head>
<meta charset="UTF-8">
<title>Webshop</title>
<link href="../static/Css/main.css" th:href="@{/Css/main.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/footer.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/header.css}"
	rel="stylesheet" />
<script type="text/javascript" th:src="@{/Js/forgotPs.js}"></script>
</head>
<body>
	<div th:replace="fragments/header::header"></div>
	<div
		style="border: 3px outset red; background-color: lightblue; text-align: center; width: 100%;">
		<div sec:authorize="hasAnyAuthority('ADMIN','MAIN_ADMIN')">
			<form th:action="@{/index/edit/ok}" method="POST">
				<div class="modal-content">
					<div class="modal-body">

						<h7>Termék neve:</h7>

						<input class="mod" type="text" name="name" id="name"></input>

						<h7>Termék leírása:</h7>

						<textarea type="text" class="form-control" name="shortDescription"
							id="shortDescription" placeholder="Rövid leírás..."
							style="height: 200px" rows="1" cols="50"></textarea>

						<h7>Termék ára:</h7>

						<input class="mod" type="number" name="price" id="price" />

						<h7>Ennyi darab van belőle:</h7>

						<input class="mod" type="number" name="unitInStock"
							id="unitInStock" /> <input class="mod" type="hidden"
							th:value="${id}" name="id" id="id"></input>

						<div>
							<h7>Akció:</h7>

							<input name="action" id="action" class="chkBox" type="checkbox" />
						</div>
					</div>
					<div class="modal-footer">

						<button type="submit" class="btnn">Mentés</button>
					</div>
				</div>
			</form>

		</div>
	</div>
</body>
</head>
</html>