<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Adminfelület</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<form th:action="@{/users/update/ok}" method="POST">
		<h1>Tagság módosítása</h1>
		<select style="margin-top: 20px; margin: auto; width: auto;"
			name="roles" class="form-control" id="rolesSelect">
			<option value="">Válassz kategóriát!</option>
			<option th:each="roles : ${roles}"
			th:if="!${roles.name=='MAIN_ADMIN'}"
						th:value="${roles.name}"
						th:text="${roles.name}"></option>
		</select> <input class="mod" type="hidden" th:value="${id}" name="id" id="id"></input>

		<div class="modal-footer">

			<button type="submit" class="btnn">Mentés</button>
		</div>

	</form>
</body>
</html>