<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<head>
<meta charset="UTF-8">
<title>Webshop</title>
<link href="../static/Css/main.css" th:href="@{/Css/main.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/footer.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/header.css}"
	rel="stylesheet" />
<script type="text/javascript" th:src="@{/Js/forgotPs.js}"></script>
<body>
	<div th:replace="fragments/header::header"></div>
	<div
		style="border: 3px outset red; background-color: lightblue; text-align: center; width: 100%;">
		
		<h2>Elfelejtette jelszavát</h2>
		
		<div th:if="${error != null}">
			<p class="text-danger">[[${error}]]</p>
		</div>
		<div th:if="${message != null}">
			<p class="text-warning">[[${message}]]</p>
		</div>

		<form th:action="@{/forgot_password}" method="post"
			style="max-width: 420px; margin: 0 auto;">
			<div class="border border-secondary rounded p-3">
				<div>
					<p>Hamarosan küldünk egy emailt.</p>
				</div>
				<div>
					<p>
						<input type="email" name="email" class="form-control"
							placeholder="Írja be email címét...." required autofocus />
					</p>
					<p class="text-center">
						<input type="submit" value="Küldés" class="btn btn-primary" />
					</p>
				</div>
			</div>
		</form>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</head>
</html>