<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<head>
<meta charset="UTF-8">
<title>Webshop</title>
<link href="../static/Css/main.css" th:href="@{/Css/main.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/footer.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/header.css}"
	rel="stylesheet" />
<script type="text/javascript" th:src="@{/Js/forgotPs.js}"></script>

</head>
<body>
	<div th:replace="fragments/header::header"></div>
	<div class="filter">
		<p>Keresés lista alapján!</p>
		<div class="cardd" th:each="c : ${category}">
			<form class="categ" th:action="@{/category/__${c.categoryId}__}"
				method="post">
				<button class="filter_btn" th:text="${c.categoryName}"
					th:value="${c.categoryName}" type="submit">1. category</button>
			</form>
			<div></div>
		</div>
	</div>
	<div class="mainPart">
		<div>
			<div id="card" class="card" th:each="product: ${product}">
				<img th:src="${product.mainPage}" style="width: 100%; height: 200px">
				<h1 th:text="${product.name}">Név</h1>
				<p th:if="${product.action == false}" th:text="${product.price}+ Ft"
					class="price">Ár</p>
				<p th:if="${product.action == true}" th:text="AKCIÓ"
					class="priceAction">Ár</p>
				<p th:if="${product.action == true}" th:text="${product.price}+Ft"
					class="priceAction">Ár</p>
				<p th:if="${product.shortDescription.length >10}"
					th:text=".........">Leiras</p>
				<p th:unless="${product.shortDescription.length >10}"
					th:text="${product.shortDescription}">Leiras</p>
				<p th:if="${product.unitInStock <= 0}" th:text="Elfogyott">Darab</p>
				<p th:if="${product.unitInStock > 0}"
					th:text="${product.unitInStock} + darab">Darab</p>
				<p sec:authorize="hasAuthority('USER')">
				<form sec:authorize="hasAuthority('USER')" th:if="${product.unitInStock > 0}" style="display: inline;"
					th:action="@{/index/__${product.id}__/}" method="post">
					<input value="1" class="numbers" type="number" min="1" name="db"
						id="db"></input>

					<button class="btnn" type="submit">Vásárlás</button>
				</form>
				</p>
				<form th:if="${product.unitInStock <= 0}" style="display: inline;"
					th:action="@{/index/__${product.id}__/}" method="post">
					<input value="1" class="numbers" type="number" min="1" name="db"
						id="db"></input>
					<p></p>
					<button th:disabled='disabled' class="btnn" type="submit">Elfogyott</button>
				</form>
				<form style="display: inline;"
					th:action="@{/index/view/__${product.id}__/}" method="post">
					<p></p>
					<button class="btnn" type="submit">Megtekintés</button>
				</form>
				<p sec:authorize="hasAnyAuthority('ADMIN','MAIN_ADMIN')">
				<form style="display: inline;"
					th:action="@{/index/edit/__${product.id}__/}">
					<button type="submit" class="btnn"
						sec:authorize="hasAnyAuthority('ADMIN','MAIN_ADMIN')" data-toggle="modal"
						data-target="#myModal">Módosít</button>
				</form>
				</p>
				<p sec:authorize="hasAnyAuthority('ADMIN','MAIN_ADMIN')">
				<form style="display: inline;"
					th:action="@{/index/delete/__${product.id}__}">
					<button class="btnn" sec:authorize="hasAnyAuthority('ADMIN','MAIN_ADMIN')"
						type="submit">Törlés</button>
				</form>
				</p>

			</div>
		</div>
		<div class="pagination">
			<th:block th:if="${totalPages}">
    Összes termék: [[${totalItems}]] -  Oldal [[${currentPage}]] / [[${totalPages}]]
    &nbsp;
   
    <a th:if="${currentPage > 1}" th:href="@{'/page/1'}">Első</a>
				<span th:unless="${currentPage > 1}">Első</span>

				<span th:each="i: ${#numbers.sequence(1, totalPages)}"> <a
					th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>
					<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;
				</span>

				<a th:if="${currentPage < totalPages}"
					th:href="@{'/page/' + ${currentPage + 1}}">Következő</a>
				<span th:unless="${currentPage < totalPages}">Következő</span>

				<a th:if="${currentPage < totalPages}"
					th:href="@{'/page/' + ${totalPages}}">Utolsó</a>
				<span th:unless="${currentPage < totalPages}">Utolsó</span>
			</th:block>
		</div>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</head>
</html>