<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<head>
<meta charset="UTF-8">
<title>Webshop</title>
<link href="../static/Css/main.css" th:href="@{/Css/main.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/footer.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/header.css}"
	rel="stylesheet" />
<script type="text/javascript" th:src="@{/Js/forgotPs.js}"></script>
<body>
	<div th:replace="fragments/header::header"></div>
	<div
		style="border: 3px outset red; background-color: lightblue; text-align: center; width: 100%;">
		<h2>Bejelentkezés</h2>
		<div th:if="${param.error}"></div>
		<div th:if="${param.otp}">
			<p class="text-danger">
				Kétlépcsős belépéshez küldtünk önnek egy egyszeri jelszót, a
				[[${param.email}]] email címre<br /> <br> A jelszó 5 percig
				érvényes.
			</p>
		</div>
		<div th:if="${param.error}">Helytelen jelszó, vagy
			felhasználónév.</div>
		<div th:if="${param.logout}">
			<p class="text-warning">Ki vagy jelentkezve.</p>
		</div>

		<div th:if="${message != null}">
			<p class="text-primary">[[${message}]]</p>
		</div>

		<form th:action="@{/login_form}" method="post"
			style="max-width: 350px; margin: 0 auto;">
			<div class="border border-secondary rounded p-3">
				<div>
					<p>
						<input type="email" name="email" class="form-control"
							placeholder="E-mail" th:value="${param.email}" required autofocus />
					</p>
					<p>
						<input type="password" name="password" class="form-control"
							th:placeholder="${param.otp != null ? 'Egyszeri jelszavad helye' : 'Password'}"
							required />
					</p>
					<p class="text-center">
						<input type="submit" value="Bejelentkezés" class="btn btn-primary" />
					</p>
				</div>
			</div>
		</form>
		<a th:href="@{/forgot_password}">Elfelejtette jelszavát?</a>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</head>
</html>