<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<head>
<meta charset="UTF-8">
<title>Webshop</title>
<link href="../static/Css/main.css" th:href="@{/Css/main.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/footer.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/header.css}"
	rel="stylesheet" />
<script type="text/javascript" th:src="@{/Js/forgotPs.js}"></script>
<body>
	<div class="mainDiv">
		<h2>Gardróbturi</h2>
	</div>
	<div class="menu">
		<a th:href="@{'/'}" class="btnMenu">Fő oldal</a>
	</div>
	<div
		style="border: 3px outset red; background-color: lightblue; text-align: center; width: 100%;">
		<form th:action="@{/process_category}" th:object="${category}"
			method="post" style="max-width: 600px; margin: 0 auto;"
			enctype="multipart/form-data">
			<div class="m-3">
				<div class="form-group row">
					<label class="col-4 col-form-label">Kategória neve: </label>
					<div class="col-8">
						<input type="text" th:field="*{categoryName}" class="form-control"
							required />
					</div>
				</div>
				<div>
					<button type="submit" class="btn btn-primary">Feltöltés</button>
				</div>
			</div>
		</form>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</head>
</html>