<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<head>
<meta charset="UTF-8">
<title>Webshop</title>
<link href="../static/Css/main.css" th:href="@{/Css/main.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/footer.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/header.css}"
	rel="stylesheet" />
<script type="text/javascript" th:src="@{/Js/forgotPs.js}"></script>
<body>
	<div class="mainDiv">
		<h2>Gardróbturi</h2>
	</div>
	<div class="menu">
		<a th:href="@{'/'}" class="btnMenu">Fő oldal</a>
	</div>
	<div
		style="border: 3px outset red; background-color: lightblue; text-align: center; width: 100%;">
		<form th:action="@{/process_product}" th:object="${product}"
			method="post" style="max-width: 600px; margin: 0 auto;"
			enctype="multipart/form-data">
			<div class="m-3">
				<div class="form-group row">
					<label class="col-4 col-form-label">Név: </label>
					<div class="col-8">
						<input type="text" th:field="*{name}" class="form-control"
							required />
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">Leírás: </label>
					<div class="col-8">
						<textarea type="text" class="form-control"
							placeholder="Rövid leírás..." style="height: 200px" rows="1"
							th:field="*{shortDescription}"></textarea>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-4 col-form-label">Ár: </label>
					<div class="col-8">
						<input type="text" th:field="*{price}" class="form-control"
							required />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-4 col-form-label">Darab szám: </label>
					<div class="col-8">
						<input type="number" th:field="*{unitInStock}"
							class="form-control" required />
					</div>
				</div>
				<div>
					<label>Elsődleges kép: </label> <input type="file" name="image"
						accept="image/png, image/jpeg" />
				</div>
				<div>
					<label>Második kép: </label> <input type="file" name="imageOne"
						accept="image/png, image/jpeg" />
				</div>
				<div>
					<label>Harmadik kép: </label> <input type="file" name="imageTwo"
						accept="image/png, image/jpeg" />
				</div>
				<div>
					<label>Negyedik kép: </label> <input type="file" name="imageThree"
						accept="image/png, image/jpeg" />
				</div>
				<div>
					<label>Akció: </label> <input name="action" class="chkBox"
						type="checkbox" th:checked="*{action}" />
				</div>

				<select th:field="*{category}" name="category" class="form-control"
					id="testOrder">
					<option value="">Válassz kategóriát!</option>
					<option th:each="category : ${category}"
						th:value="${category.categoryName}"
						th:text="${category.categoryName}"></option>
				</select>

				<div>
					<button type="submit" class="btn btn-primary">Feltöltés</button>
				</div>
			</div>
		</form>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</head>
</html>