<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<head>
<meta charset="UTF-8">
<title>Webshop</title>
<link href="../static/Css/main.css" th:href="@{/Css/main.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/footer.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/header.css}"
	rel="stylesheet" />
<script type="text/javascript" th:src="@{/Js/forgotPs.js}"></script>
<body>
	<div th:replace="fragments/header::header"></div>
	<div
		style="border: 3px outset red; background-color: lightblue; text-align: center; width: 100%;">
		<div class="container text-center">
			<div>
				<h2>Regisztráció</h2>
			</div>
			<form th:action="@{/process_register}" th:object="${user}"
				method="post" style="max-width: 600px; margin: 0 auto;">
				<div class="m-3">
					<div class="form-group row">
						<label class="col-4 col-form-label">E-mail: </label>
						<div class="col-8">
							<input type="email" th:field="*{email}" class="form-control"
								required />
						</div>
					</div>

					<div class="form-group row">
						<label class="col-4 col-form-label">Jelszó: </label>
						<div class="col-8">
							<input type="password" th:field="*{password}"
								class="form-control" required minlength="6" maxlength="10" />
						</div>
					</div>

					<div class="form-group row">
						<label class="col-4 col-form-label">Keresztnév: </label>
						<div class="col-8">
							<input type="text" th:field="*{firstName}" class="form-control"
								required minlength="2" maxlength="20" />
						</div>
					</div>

					<div class="form-group row">
						<label class="col-4 col-form-label">Vezetéknév: </label>
						<div class="col-8">
							<input type="text" th:field="*{lastName}" class="form-control"
								required minlength="2" maxlength="20" />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-4 col-form-label">Telefonszám: </label>
						<div class="col-8">
							<input type="number" th:field="*{phoneNumber}"
								class="form-control" required minlength="2" maxlength="20"
								placeholder="" />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-4 col-form-label">Szeretne két lépcsős
							beléptetést? </label>
						<div class="col-8">
							<input name="twoFactor" id="action" class="chkBox"
								type="checkbox" />
						</div>
					</div>
					<div>
						<center>Szállítási cím</center>
					</div>
					<div class="m-3">
						<div class="form-group row">
							<label class="col-4 col-form-label">Utca, házszám: </label>
							<div class="col-8">
								<input type="text" th:field="${shipAddress.address}"
									class="form-control" required />
							</div>
						</div>

						<div class="form-group row">
							<label class="col-4 col-form-label">Város: </label>
							<div class="col-8">
								<input type="text" th:field="${shipAddress.city}"
									class="form-control" />
							</div>
						</div>

						<div class="form-group row">
							<label class="col-4 col-form-label">Megye: </label>
							<div class="col-8">
								<input type="text" th:field="${shipAddress.county}"
									class="form-control" required minlength="2" maxlength="20" />
							</div>
						</div>

						<div class="form-group row">
							<label class="col-4 col-form-label">Irányítószám: </label>
							<div class="col-8">
								<input type="number" th:field="${shipAddress.zipcode}"
									class="form-control" required minlength="2" maxlength="20" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-4 col-form-label">Ország: </label>
							<div class="col-8">
								<input type="text" th:field="${shipAddress.country}"
									class="form-control" required minlength="2" maxlength="20" />
							</div>
						</div>
					</div>
					<div>
						<center>Számlázási cím</center>
					</div>
					<div class="m-3">
						<div class="form-group row">
							<label class="col-4 col-form-label">Utca, házszám: </label>
							<div class="col-8">
								<input type="text" th:field="${billAddress.address}"
									class="form-control" required />
							</div>
						</div>

						<div class="form-group row">
							<label class="col-4 col-form-label">Város: </label>
							<div class="col-8">
								<input type="text" th:field="${billAddress.city}"
									class="form-control" />
							</div>
						</div>

						<div class="form-group row">
							<label class="col-4 col-form-label">Megye: </label>
							<div class="col-8">
								<input type="text" th:field="${billAddress.county}"
									class="form-control" required minlength="2" maxlength="20" />
							</div>
						</div>

						<div class="form-group row">
							<label class="col-4 col-form-label">Irányítószám: </label>
							<div class="col-8">
								<input type="number" th:field="${billAddress.zipcode}"
									class="form-control" required minlength="2" maxlength="20" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-4 col-form-label">Ország: </label>
							<div class="col-8">
								<input type="text" th:field="${billAddress.country}"
									class="form-control" required minlength="2" maxlength="20" />
							</div>
						</div>
					</div>
					<div>
						<button type="submit" class="btn btn-primary">Regisztrálás</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</head>
</html>