<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<head>
<meta charset="UTF-8">
<title>Webshop</title>
<link href="../static/Css/main.css" th:href="@{/Css/main.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/footer.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/header.css}"
	rel="stylesheet" />
<script type="text/javascript" th:src="@{/Js/forgotPs.js}"></script>
<body>
	<div class="mainDiv">
		<h2 th:href="@{'/'}">Gardróbturi</h2>

	</div>
	<div class="menu">
		<a th:href="@{'/'}" class="btnMenu">Fő oldal</a>
	</div>
	<div
		style="border: 3px outset red; background-color: lightblue; text-align: center; width: 100%;">
		<div class="container text-center">
			<h3>Ezzel az email címmel már regisztráltak!</h3>
			<h3>Kérjük próbálja újra</h3>
			<h4>
				<a th:href="@{/}">Irány a főoldal</a>
			</h4>
		</div>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</head>
</html>