<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<head>
<meta charset="UTF-8">
<title>Webshop</title>
<link href="../static/Css/main.css" th:href="@{/Css/main.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/footer.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/header.css}"
	rel="stylesheet" />
<script type="text/javascript" th:src="@{/Js/forgotPs.js}"></script>
<body>
	<div th:replace="fragments/header::header"></div>
	<div
		style="border: 3px outset red; background-color: lightblue; text-align: center; width: 100%;">
		<div>
			<h2>Jelszó megváltoztatása!</h2>
		</div>

		<form th:action="@{/reset_password}" method="post"
			style="max-width: 350px; margin: 0 auto;">
			<input type="hidden" name="token" th:value="${token}" />
			<div class="border border-secondary rounded p-3">
				<div>
					<p>
						<input type="password" name="password" id="password"
							class="form-control" placeholder="Írja be új jelszavát" required
							autofocus />
					</p>
					<p>
						<input type="password" class="form-control"
							placeholder="Írja be még egyszer új jelszavát" required
							oninput="checkPasswordMatch(this);" />
					</p>
					<p class="text-center">
						<input type="submit" value="Jelszó megváltoztatása"
							class="btn btn-primary" />
					</p>
				</div>
			</div>
		</form>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</head>
</html>