<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<head>
<meta charset="UTF-8">
<title>Webshop</title>
<link href="../static/Css/main.css" th:href="@{/Css/main.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/footer.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/header.css}"
	rel="stylesheet" />
<script type="text/javascript" th:src="@{/Js/forgotPs.js}"></script>
</head>
<body>
	<div th:replace="fragments/header::header"></div>
	<div
		style="border: 3px outset red; background-color: lightblue; text-align: center; width: 100%;">
		<p>Itt lesz az oldal fő része</p>

		<h2>Összegzés</h2>

		<table class="table table-striped">
			<tr>
				<th>Termék neve</th>
				<th>Darabszám</th>
				<th>Ára</th>
			</tr>
			<tr th:each="items : ${items}">
				<td th:text="${items.product.name}"></td>
				<td th:text="${items.quantity}"></td>
				<td th:text="${items.totalPriceDouble}"></td>
			</tr>
		</table>
		
		<div class="total" th:each="items,iterStat : ${items}">
			<p th:if="${iterStat.index ==0}">Összesen:</p>
			<p th:if="${iterStat.index ==0}" th:text="${items.cart.totalPrice}"></p>
		</div>
		<div th:each="items, iterStat : ${items}">
			<form th:if="${iterStat.index ==0}" style="display: inline;"
				th:action="@{/users/export/pdf/__${items.cart.id}__}">
				<button class="btnn" type="submit">Vásárlás</button>
			</form>
		</div>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</head>
</html>