<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Adminfelület</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container text-center">
		<div>
			<form th:action="@{/logout}" method="post">
				<p>
					Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
				</p>
				<input type="submit" value="Kijelentkezés" />
			</form>
		</div>
		<div>
			<h1>Felhasználók</h1>
		</div>

		<div>
			<table class="table table-striped table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>E-mail</th>
						<th>Keresztnév</th>
						<th>Vezetéknév</th>
						<th>Tagság</th>
						<th>Státusz</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user: ${listUsers}">
						<td th:text="${user.id}">User ID</td>
						<td th:text="${user.email}">E-mail</td>
						<td th:text="${user.firstName}">First Name</td>
						<td th:text="${user.lastName}">Last Name</td>
						<td th:text="${user.role.name}">Roles</td>
						<td><p th:if="${user.enabled}==true">Aktív</p>
							<p th:if="${user.enabled}==false">Inaktív</p></td>

						<td>
							<p sec:authorize="hasAnyAuthority('ADMIN','MAIN_ADMIN')">
							<form th:if="${user.role.name}==USER" style="display: inline;"
								th:action="@{/users/delete/__${user.id}__}">
								<button class="btnn"
									sec:authorize="hasAnyAuthority('ADMIN','MAIN_ADMIN')"
									type="submit">Törlés</button>
							</form>
							</p>
						</td>
						<td>
							<p sec:authorize="hasAuthority('MAIN_ADMIN')">
							<form th:if="${user.role.name}==USER or ${user.role.name}==ADMIN"
								style="display: inline;"
								th:action="@{/users/update/__${user.id}__}">
								<button class="btnn" sec:authorize="hasAuthority('MAIN_ADMIN')"
									type="submit">Módosít</button>
							</form>
							</p>
						</td>

					</tr>
				</tbody>
			</table>
		</div>
		<div sec:authorize="hasAuthority('MAIN_ADMIN')">
			<h1>Üzenetek</h1>
		</div>

		<div sec:authorize="hasAuthority('MAIN_ADMIN')">
			<table class="table table-striped table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>E-mail</th>
						<th>Név</th>
						<th>Üzenet</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="contact: ${listContact}">
						<td th:text="${contact.email}">E-mail</td>
						<td th:text="${contact.name}">Név</td>
						<td th:text="${contact.message}">Üzenet</td>
						<td>
							<p sec:authorize="hasAuthority('MAIN_ADMIN')">
							<form th:if="${contact.readed}==false" style="display: inline;"
								th:action="@{/users/contact/__${contact.id}__}">
								<button class="btnn" sec:authorize="hasAuthority('MAIN_ADMIN')"
									type="submit">Válasz</button>
							</form>
							</p>
						</td>
						<td>
							<p sec:authorize="hasAuthority('MAIN_ADMIN')">
							<form style="display: inline;"
								th:action="@{/contact/delete/__${contact.id}__}">
								<button class="btnn" sec:authorize="hasAuthority('MAIN_ADMIN')"
									type="submit">Törlés</button>
							</form>
							</p>
						</td>
						<td>
							<p sec:authorize="hasAuthority('MAIN_ADMIN')">
							<p th:if="${contact.readed}==true">Olvasva/Elküldve</p>
							</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="margin-top: 50px;" sec:authorize="hasAnyAuthority('ADMIN','MAIN_ADMIN')">
			<h1>Termékek kezelése</h1>
		</div>
		<div>
			<a sec:authorize="hasAnyAuthority('ADMIN','MAIN_ADMIN')"
				th:href="@{'/product'}">Új termék</a> <a>||</a> <a
				sec:authorize="hasAnyAuthority('ADMIN','MAIN_ADMIN')"
				th:href="@{'/newCategory'}">Új kategória</a>
				
				<a style="display: block;" sec:authorize="hasAnyAuthority('ADMIN','MAIN_ADMIN')" th:href="@{'/boughtView'}">Vásárolt Termékek</a>
		</div>
		<div style="margin-top: 30px;" sec:authorize="hasAuthority('MAIN_ADMIN')">
			<h1>Régebbi Üzenetek</h1>
		</div>

		<div sec:authorize="hasAuthority('MAIN_ADMIN')">
			<table class="table table-striped table-bordered">
				<thead class="thead-dark">
					<tr>
						<th>E-mail</th>
						<th>Név</th>
						<th>Üzenet</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="oldContact: ${listOldContact}">
						<td th:text="${oldContact.email}">E-mail</td>
						<td th:text="${oldContact.name}">Név</td>
						<td th:text="${oldContact.message}">Üzenet</td>

						<td>
							<p sec:authorize="hasAuthority('MAIN_ADMIN')">
							<p th:if="${oldContact.readed}==true">Olvasva/Elküldve</p>
							<p th:if="${oldContact.readed}==false">Nem válaszoltál rá!</p>
							</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</div>
</body>
</html>