<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<link th:rel="stylesheet"
	th:href="@{/webjars/font-awesome/5.11.2/css/all.css} " />
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} " />
<link th:rel="stylesheet"
	th:href="@{/assets/bootstrapless-star-rating/star-rating.css} " />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<head>
<meta charset="UTF-8">
<title>Webshop</title>
<link href="../static/Css/main.css" th:href="@{/Css/main.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/footer.css}"
	rel="stylesheet" />
<link href="../static/Css/main.css" th:href="@{/Css/header.css}"
	rel="stylesheet" />
<script type="text/javascript" th:src="@{/Js/forgotPs.js}"></script>
<body>
	<div th:replace="fragments/header::header"></div>
	<div
		style="border: 3px outset red; background-color: lightblue; text-align: center; width: 100%;">
		<div>
			<div id="cardView" class="cardView" th:each="product: ${product}">
				<div id="slideshow">
					<ul>
						<li th:if="${product.mainPage} !='data:image/jpeg;base64,'"
							id="slide1"><img th:src="${product.mainPage}"
							style="width: 800px; height: 400px;"></li>
						<li th:if="${product.extraOne} !='data:image/jpeg;base64,'"
							id="slide2"><img th:src="${product.extraOne}"
							style="width: 800px; height: 400px;"></li>
						<li th:if="${product.extraTwo} !='data:image/jpeg;base64,'"
							id="slide3"><img th:src="${product.extraTwo}"
							style="width: 800px; height: 400px;"></li>
						<li th:if="${product.extraThree} !='data:image/jpeg;base64,'"
							id="slide4"><img th:src="${product.extraThree}"
							style="width: 800px; height: 400px;"></li>
					</ul>
				</div>
				<div id="slideshow-nav">
					<ul>
						<li th:if="${product.mainPage} !='data:image/jpeg;base64,'"><a
							href="#slide1">slide 1</a></li>
						<li th:if="${product.extraOne} !='data:image/jpeg;base64,'"><a
							href="#slide2">slide 2</a></li>
						<li th:if="${product.extraTwo} !='data:image/jpeg;base64,'"><a
							href="#slide3">slide 3</a></li>
						<li th:if="${product.extraThree} !='data:image/jpeg;base64,'"><a
							href="#slide4">slide 4</a></li>
					</ul>
				</div>
				<h1 th:text="${product.name}">Név</h1>
				<p th:text="${product.price} + Ft" class="price">Ár</p>
				<p
					style="width: -webkit-fill-available; height: -webkit-fill-available;"
					th:text="${product.shortDescription}">Leiras</p>
				<p th:text="${product.unitInStock}  + darab">Darab</p>

				<form style="display: inline;"
					th:action="@{/index/__${product.id}__/}" method="post">
					<input value="1" class="numbers" type="number" min="1" name="db"
						id="db"></input>
					<p></p>
					<button class="btnn" type="submit">Vásárlás</button>
				</form>
			</div>
		</div>
	</div>
	<div
		style="margin: auto; background: azure; width: fit-content; color: red; font-size: larger;">
		Pontozás: [[${totalStars}]] &nbsp;</div>
	<div sec:authorize="hasAuthority('USER')">

		<div class="container">
			<form th:action="@{/process_rating}" method="post"
				th:object="${rating}" class="mt-5">

				<h7>Termék értékelése:</h7>

				<textarea type="text" class="form-control"
					th:field="*{commentContents}" placeholder="Rövid leírás..."
					style="height: 150px; width: auto; margin: auto;" rows="1"
					cols="50"></textarea>

				<h7>Termék pontozása:</h7>

				<label> <input type="radio" th:field="*{stars}" name="stars"
					value="1" /> <span class="icon">1</span>
				</label> <label> <input type="radio" th:field="*{stars}"
					name="stars" value="2" /> <span class="icon">2</span>
				</label> <label> <input type="radio" th:field="*{stars}"
					name="stars" value="3" /> <span class="icon">3</span>
				</label> <label> <input type="radio" th:field="*{stars}"
					name="stars" value="4" /> <span class="icon">4</span>
				</label> <label> <input type="radio" th:field="*{stars}"
					name="stars" value="5" /> <span class="icon">5</span>
				</label> <input class="mod" type="hidden" th:value="${product.id}" name="id"
					id="id"></input>
				<div>
					<button class="btn btn-primary" type="submit">Mentés</button>
				</div>
			</form>

		</div>
	</div>
	<div class="rates" th:each="rating: ${ratingShow}">

		<h5>Leírás</h5>
		<p th:text="${rating.commentContents}">Leiras</p>
		<h5>Értékelve</h5>
		<p th:text="${rating.commentDate}">Leiras</p>
		<h5>Pontszám</h5>
		<p th:text="${rating.stars}">Leiras</p>


	</div>


</body>
</head>
</html>