<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Webshop</title>
	<link href="../static/Css/main.css" th:href="@{/Css/main.css}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header::header"></div>
<div class="filter">
<p>Itt lesz az oldal szűrője</p>
</div>
<div class="mainPart">
<p>Itt lesz az oldal fő része</p>
  <div sec:authorize="hasAuthority('ADMIN')">
       
           <form th:action="@{/index/edit/ok}" method="POST">
			<div class="modal-content">
			
				<div class="modal-body">

					<h7>Termék neve:</h7>

					<input class="mod" type="text" name="name" id="name"></input>

					<h7>Termék leírása:</h7>

					<input class="mod" type="text" name="shortDescription"
						id="shortDescription" rows="4" cols="50" />

					<h7>Termék ára:</h7>

					<input class="mod" type="number" name="price"
						id="price" />

					<h7>Ennyi darab van belőle:</h7>

					<input class="mod" type="number" name="unitInStock"
						id="unitInStock" /> <input class="mod" type="hidden"
						th:value="${id}" name="id" id="id"></input>

				</div>
				<div class="modal-footer">

					<button type="submit" class="btnn">Save</button>

					
				</div>
			</div>
		</form>
        
    </div>
</div>


</body>
</head>
<body>

</body>
</html>