<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Webshop</title>
	<link href="../static/Css/main.css" th:href="@{/Css/main.css}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header::header"></div>
<div class="filter">
<p>Itt lesz az oldal szűrője</p>
</div>
<div class="mainPart">
<p>Itt lesz az oldal fő része</p>

  <div>
       
            <div class="card" th:each="product: ${product}" >
				  <img th:src="${product.image}"  style="width:100%">
				  <h1 th:text="${product.name}">Név</h1>
				  <p th:text="${product.price} + Ft"  class="price">Ár</p>
				  <p th:text="${product.shortDescription}">Leiras</p>
				  <p th:text="${product.unitInStock}">Darab</p>
				 
					
					<form style="display: inline;"
						th:action="@{/index/__${product.id}__/}" method="post">
						<input value="1" class="numbers"  type="number" min="1" name="db" id="db"></input>
						<p></p>
						<button class="btnn" type="submit">Buy</button>
					</form>
				  <p  sec:authorize="hasAuthority('ADMIN')">
					<form style="display: inline;"
						th:action="@{/index/delete/__${product.id}__}">
						<button class="btnn" sec:authorize="hasAuthority('ADMIN')"
							type="submit">Delete</button>
					</form>
                    </p>
                    <p  sec:authorize="hasAuthority('ADMIN')">
					<form style="display: inline;" th:action="@{/index/edit/__${product.id}__/}">
						<button type="submit" class="btnn"
							sec:authorize="hasAuthority('ADMIN')" data-toggle="modal"
							data-target="#myModal">Edit</button>
					</form>
					</p>
			</div>
        
    </div>
</div>


</body>
</head>
<body>

</body>
</html>