<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Webshop</title>
<link href="../static/Css/main.css" th:href="@{/Css/main.css}" rel="stylesheet" />
<body>
<div th:replace="fragments/header::header"></div>

<div class="filter">
<p>Itt lesz az oldal szűrője</p>
</div>
<div class="mainPart">
<h2>Login Form</h2>
<body>
         <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form id="login" method="POST" th:action="@{/login_form}">
				<p>
					<label for="email">Email:</label> <input id="email" name="email"
						placeholder="email" type="text" />
				</p>
				<label for="password">Password:</label> <input id="password"
					name="password" placeholder="password" type="password" /> <input
					type="submit" value="Submit" id="submit" />
			</form>

         
    </body>
</div>

</body>
</head>
<body>

</body>
</html>