
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Webshop</title>
<link href="../static/Css/main.css" th:href="@{/Css/main.css}" rel="stylesheet" />
<body>
<div class="mainDiv">
  <h2>Gardróbturi</h2>
</div>
<div class="menu">

<a th:href="@{'/'}" class="btnMenu">Fő oldal</a>

</div>
<div class="filter">
<p>Itt lesz az oldal szűrője</p>
</div>
<div class="mainPart">
<form th:action="@{/process_product}" th:object="${product}"
		
            method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">Név: </label>
                <div class="col-8">
                    <input type="text" th:field="*{name}" class="form-control" required />
                </div>
            </div>
             
            <div class="form-group row">
                <label class="col-4 col-form-label">Leírás: </label>
                <div class="col-8">
                    <input type="text" th:field="*{shortDescription}" class="form-control" required />
                </div>
            </div>
             
             <div class="form-group row">
                <label class="col-4 col-form-label">Ár: </label>
                <div class="col-8">
                    <input type="text" th:field="*{price}" class="form-control" required />
                </div>
            </div> 
            <div class="form-group row">
                <label class="col-4 col-form-label">Daram szám: </label>
                <div class="col-8">
                    <input type="number" th:field="*{unitInStock}" class="form-control" required />
                </div>
            </div>
     
             
             
             <div>
     
		    <label>Kép: </label>
		    <input type="file" th:field="*{image}" name="image" accept="image/png, image/jpeg" />
		     
		    </div>
		   
			    <select th:field="*{category}" name="category" class="form-control" id="testOrder">
			        <option value="">Select Test Order</option>
			        <option 
			        		th:each="category : ${category}"
			                th:value="${category.categoryName}"
			                th:text="${category.categoryName}"
			                ></option>
			    </select>
				
             		
            <div>
                <button type="submit" class="btn btn-primary">Feltöltés</button>
            </div>
        </div>
        </form>

</div>


</body>
</head>
<body>

</body>
</html>