<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Webshop</title>
<link href="../static/Css/main.css" th:href="@{/Css/main.css}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
<body>
<div class="mainDiv">
  <h2 th:href="@{'/'}">Gardróbturi</h2>

</div>
<div class="menu">
<a th:href="@{'/'}" class="btnMenu">Fő oldal</a>
	
</div>
<div class="filter">
<p>Itt lesz az oldal szűrője</p>
</div>
<div class="mainPart">
<div class="container text-center">
        <h3>Sikeres feltöltés!</h3>
        <h4><a th:href="@{/}">Irány a főoldal</a></h4>
    </div>
     
</div>


</body>
</head>
<body>

</body>
</html>