<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Webshop</title>
<link href="../static/Css/main.css" th:href="@{/Css/main.css}" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
<body>
<div th:replace="fragments/header::header"></div>

<div class="filter">
<p>Itt lesz az oldal szűrője</p>
</div>
<div class="mainPart">
<div class="container text-center">
        <h3>You have signed up successfully!</h3>
        <h4><a th:href="@{/login_form}">Click here to Login</a></h4>
    </div>
     
</div>


</body>
</head>
<body>

</body>
</html>