<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Webshop</title>
	<link href="../static/Css/main.css" th:href="@{/Css/main.css}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header::header"></div>
<div class="filter">
<p>Itt lesz az oldal szűrője</p>
</div>
<div class="mainPart">
<p>Itt lesz az oldal fő része</p>

 <h2>Kosár</h2>
 <table class="table table-striped">
				<tr>
					<th>Name</th>
					<th>Price</th>
				</tr>
				<tr th:each="product : ${products}">
					<td th:text="${product.name}"></td>
					<td th:text="${product.price}"></td>
				</tr>
			</table>
			<div class="total" th:each="item: ${cart}" >
			<p th:text="${item.totalPrice}">Total</p>
			</div>
</div>


</body>
</head>
<body>

</body>
</html>